@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
body {
  font-family: "Titillium Web", sans-serif;
  margin: 0;
}
.flexible {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.section-subtext {
  font-size: 1.1em;
  color: #777;
}
header {
  background-image: linear-gradient(
      to bottom,
      rgba(37, 37, 37, 0.418),
      rgb(7, 7, 7)
    ),
    url(../images/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
#banner {
  text-align: center;
  overflow: hidden;
  color: #fff;
}
#banner .banner-title {
  font-size: 4em;
  line-height: 1.4em;
  margin-bottom: 0;
}
#banner p {
  color: #dbdada;
}
.btn {
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.3em;
  letter-spacing: 0.1em;
  padding: 10px 20px;
  background-color: #ca411e;
  display: inline-block;
  border-radius: 4px;
  margin: 1.5rem 0;
}

#donate-today {
  padding: 3rem 0;
}
.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.section-title {
  font-size: 3em;
  margin-bottom: 0;
  text-transform: capitalize;
}
#donate-today p {
  margin-bottom: 4rem;
}
#money-donating-category {
  margin-bottom: 3rem;
}
.category .money {
  display: inline-block;
  font-size: 2em;
  color: #444;
  font-weight: bold;
  background: #ca401e0a;
  padding: 22px 15px;
  border-radius: 4px;
}
.category #current {
  color: #ee3b0e;
  background-color: #ca401e21;
  border: 2px solid #ee3b0e;
}
#other-amount input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #ccc;
  width: 60%;
  text-align: center;
  padding-bottom: 5px;
  font-size: 1.1em;
  outline: none;
}
#other-amount input::placeholder {
  color: #888;
}

#other-amount input:-ms-input-placeholder {
  color: #888;
}

#other-amount input::-ms-input-placeholder {
  color: #888;
}

#donate-plan {
  padding-bottom: 4rem;
}
#plans {
  text-align: left;
  margin-top: 2rem;
}
.plan {
  padding: 30px 20px;
  background: red;
  border-radius: 4px;
  width: 33.3%;
}
.plan img {
  width: 20%;
}
.plan .plan-title {
  font-size: 1.4em;
  margin-bottom: 0;
  margin-top: 15px;
  text-transform: capitalize;
}
.plan .plan-info {
  color: #666;
}
#plans #bg-color-1 {
  background-color: #738c5b36;
}
#plans #bg-color-2 {
  background-color: #ca401e44;
}
#plans #bg-color-3 {
  background-color: #526bc733;
}
#need-volunteers {
  padding: 2rem 0 4rem 0;
}
#volunteers #volunteers-info {
  text-align: left;
}
#volunteers #volunteers-img img {
  width: 90%;
}
.volunteer {
  width: 50%;
}
#get-update {
  text-align: center;
  padding: 2rem 0 4rem 0;
}
#get-update form {
  width: 80%;
  margin: auto;
  background-color: #ca401e1a;
  margin-top: 3rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
#get-update input {
  font-size: 0.9em;
  font-weight: 600;
  border: none;
}
#get-update input[type="text"] {
  padding: 15px 40px 15px 10px;
  border-radius: 4px 0 0 4px;
  background-color: #ccc;
  outline: none;
}
#get-update input[type="submit"] {
  padding: 15px 20px;
  border-radius: 0 4px 4px 0;
  margin-left: -5px;
  background-color: #ca411e;
  cursor: pointer;
  color: #fff;
  outline: none;
}
footer {
  padding: 2rem 0 2rem 0;
  text-align: center;
  background-color: #000;
}
footer .humble {
  font-family: "Lobster", cursive;
  display: block;
  font-size: 2em;
  color: #ca411e;
}
footer .do-it-text {
  color: #888;
  display: block;
}
